<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>MyServlets.MyFirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemSave</servlet-name>
        <servlet-class>backend.itemSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllItem</servlet-name>
        <servlet-class>backend.GetAllItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>backend.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>backend.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>backend.DisplayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSession</servlet-name>
        <servlet-class>ForSession.CreateSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSession</servlet-name>
        <servlet-class>ForSession.GetSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneItem</servlet-name>
        <servlet-class>backend.GetOneItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>backend.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>backend.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>backend.ActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendUser</servlet-name>
        <servlet-class>backend.SuspendUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>backend.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseItem</servlet-name>
        <servlet-class>backend.PurchaseItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemSelectBox</servlet-name>
        <servlet-class>backend.GetItemSelectBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePurchase</servlet-name>
        <servlet-class>backend.SavePurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>backend.CookieTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSales</servlet-name>
        <servlet-class>backend.SaveSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItemPic</servlet-name>
        <servlet-class>backend.ViewItemPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newone</servlet-name>
        <servlet-class>MyServlets.HttpServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newone</servlet-name>
        <url-pattern>/newone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generic</servlet-name>
        <servlet-class>MyServlets.GenericServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generic</servlet-name>
        <url-pattern>/generic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemSave</servlet-name>
        <url-pattern>/itemSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllItem</servlet-name>
        <url-pattern>/GetAllItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSession</servlet-name>
        <url-pattern>/CreateSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSession</servlet-name>
        <url-pattern>/GetSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneItem</servlet-name>
        <url-pattern>/GetOneItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendUser</servlet-name>
        <url-pattern>/SuspendUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseItem</servlet-name>
        <url-pattern>/PurchaseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemSelectBox</servlet-name>
        <url-pattern>/GetItemSelectBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePurchase</servlet-name>
        <url-pattern>/SavePurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSales</servlet-name>
        <url-pattern>/SaveSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItemPic</servlet-name>
        <url-pattern>/ViewItemPic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
