<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>MyServlets.MyFirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemSave</servlet-name>
        <servlet-class>backend.itemSave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newone</servlet-name>
        <servlet-class>MyServlets.HttpServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newone</servlet-name>
        <url-pattern>/newone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generic</servlet-name>
        <servlet-class>MyServlets.GenericServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generic</servlet-name>
        <url-pattern>/generic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemSave</servlet-name>
        <url-pattern>/itemSave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
